.select2-selection__choice{
    background: black !important;
}
.select2-selection__choice__display{
    padding-left: 10px !important;
}
.select2-selection__choice__remove{
    background: black !important;
}
.alert-danger, .alert-danger>a, .alert-error, .alert-error>a, .bg-danger, .bg-danger>a {
    color: #d32535!important;
    font-size: 13px;
}
.alert-danger, .alert-error, .bg-danger {
    background-color: #f4f6f9!important;
}
.alert-danger, .alert-error {
    border-color: #f4f6f9;
}
